#By default have git guess whether or not a file is binary.
* text=auto

#These are text files that should have end lines converted based on your system.
*.cfg text
*.cnf text
*.conf text
*.css text
*.csv text
*.groovy text
*.html text
*.java text
*.js text
*.json text
*.jsp text
*.md text
*.msiCurl text
*.properties text
*.txt text
*.xml text
*.yaml text
*.yml text
.gitattributes text
.gitignore text

#These text files must have Windows line endings.
*.bat text eol=crlf
*.cmd text eol=crlf

#These text files must have Unix line endings.
*.sh text eol=lf
setenv/* text eol=lf

#These files are binary and should be left untouched to prevent corruption.
*.7z binary
*.docx binary
*.eot binary
*.fla binary
*.flv binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.pptx binary
*.pyc binary
*.swf binary
*.ttf binary
*.woff binary
*.zip binary
